            <div class="navbar navbar-fixed-bottom">
                <div class="navbar-inner">
                    <div class="container">
                        <span class="brand">Contact:</span>
                        <ul class="nav">
                            <li><a href="mailto:{{ site.email }}">
                                    <i class="icon-envelope icon-large"></i></a>
                            </li>
                            <li><a href="http://github.com/smithje/">
                                    <i class="icon-github icon-large"></i></a>
                            </li>
                            <li><a href="http://twitter.com/musicsmith">
                                    <i class="icon-twitter icon-large"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
